/*
*********************************************************
Autor: MH
Version: 20231109.1953
Descripcion: TP #2 (FlexBox, Grid) Desarrollo Web para CoderHouse
Realizado:
TP #1: Maquetado, Prototipado HTML, Aplicar Estilos CSS.
Notas:
Atajos VisualStudio Code:
alt shift f (identar)
ctrl s (guardar)
*********************************************************
estilo.css
*********************************************************
*/
/*  */

/* ******* Inicio: Establecer Fuente */
/* *** Roboto Offline */
/*
@font-face {
    font-family: "robotoReg-offline";
    src: url("../fonts/Roboto-Regular.ttf");
}
*/ 
/*  *** Roboto Online */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ******* Fin: Establecer Fuente */

/* Establecer Fuente a todos las tags "*" (asterisco comodin) */
* {
    font-family: 'Roboto', sans-serif;
}

/* Estilo para pantalla con dimensiones menores a Mobile First */
@media only screen and (max-width: 319px) {
    * {
        display: none;
    }

    .webSite_msjPantallaincompat {
        display: initial;
    }
}

/* Estilos para Mobile First */
@media only screen and (min-width: 320px) {



    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 6; }
        .div2 { grid-area: 2 / 1 / 4 / 2; }
        .div3 { grid-area: 2 / 2 / 3 / 3; }
        .div4 { grid-area: 3 / 2 / 4 / 3; }
        .div5 { grid-area: 2 / 3 / 4 / 4; }
        .div6 { grid-area: 2 / 4 / 4 / 5; }
        .div7 { grid-area: 2 / 5 / 4 / 6; }











.webSite_msjPantallaincompat {
    display: none;
}

.grid-cabecera {
    /*
    border: 3px solid #000000;
    grid-template-rows: auto;
    */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-cabecera_subcont {
    /*
    border: 3px solid #00CC00;
    */
    text-align: center;
}

.grid-subcont-vinculossup {
    /*
    border: 3px solid #0000CC;
    */
    background-color: rgba(60, 128, 224, 0.96);
    grid-column: 1 / 6;
}

.grid-subcont-menu, .grid-subcont-logo, .grid-subcont-buscador,
.grid-subcont-cuentacarrito, .grid-subcont-colorinterfaz, .grid-subcont-textoimp  {
    background-color: rgba(60, 128, 224, 0.76);
}

.grid-subcont-menu {
    /*
    border: 1px solid #0000CC;
    */
    grid-column: 1 / 1;
    grid-row: 2 / 4;
}

.cabecera_contenido_menuvertical {
    /*
    border: 1px solid #00CC00;
    */
    display: flex;    
}

.cabecera_contenido_menuvertical_ul {
    /*
    border: 1px solid #000000;
    */
    padding: 0px 0px 0px 25px;
    margin: 0px;
    list-style: none;
}

.cabecera_contenido_menuvertical_ul_p{
/*
    border: 1px solid #000000;
*/
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-size: 9px;
    text-decoration: none;    
}   

.grid-subcont-logo {
    /*
    border: 1px solid #0000CC;
    */
    align-content: center;
}

.cabecera_contenido_logo {
    /*
    border: 1px solid #0000CC;
    */
    width: 64px;
    height: 64px;
    padding: 0px 0px 0px 0px;
    align-content: center;
}

.grid-subcont-buscador {
    /*
    border: 1px solid #0000CC;
    */
    grid-column: 3 / 3;
    grid-row: 2 / 4;
}

.grid-subcont-cuentacarrito {
    /*
    border: 1px solid #0000CC;
    */
    grid-column: 4 / 4;
    grid-row: 2 / 4;
}

.panelcuentacarrito_ul_li_a_img {
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 0px;
    margin-top: 0px;
}

.grid-subcont-colorinterfaz {
    /*
    border: 1px solid #0000CC;
    */
    grid-column: 5 / 5;
    grid-row: 2 / 4;
}

.grid-subcont-textoimp{
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.cabecera_contenido_huno{
    /*
    border: 1px solid #000000;
    display: flex;
    */
    font-size: 11px;
    text-align: center;    
}

.checkmodonoche {
    font-size: 9px;
    text-align: center;
}

.panelcuentacarrito_sucursal{
    font-size: 9px;
    text-align: center;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.panelcuentacarrito_sucursal_a{
    font-size: 11px;
    text-align: center;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;    
}

.panelcuentacarrito_p {
    font-size: 9px;
    text-align: center;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.panelcuentacarrito {
    justify-content: space-between;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.panelcuentacarrito_ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.panelcuentacarrito_ul_li {
    display: inline;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}



    .cabecera_enlaceshorizontales {
        background-color: rgba(60, 128, 224, 0.96);
        /* display: flex; */
        /* justify-content: space-between; */
        border: 1px solid #000000;
    }

    .cabecera_enlaceshorizontales_ul {
        /* justify-content: space-between;
        align-content: center;
        border: 1px solid #000000; */
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px 0px 0px 0px; 
        text-align: center;
    }

    .cabecera_enlaceshorizontales_ul_li {
        /* 
        border: 1px solid #000000;
        */
        display: inline;
        padding: 0px 10px 0px 10px;
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;

    }

    .cabecera_enlaceshorizontales_ul_li_a {
        /* 
        border: 1px solid #000000;
        */
        text-decoration: none;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 0px;
        margin-bottom: 0px;
        font-variant: small-caps;
        font-size: 1rem;        
    }

    .cabecera_enlaceshorizontales_ul_li_a:hover {
        color: rgba(0, 128, 255, 0.96);
        font-weight: bold;
    }

    .cabecera_enlaceshorizontales_ul_li_a_img {
        /*
        border: 1px solid #000000;
        */
        width: 1rem;
        height: 1rem;
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
    }

    .cabecera_enlaceshorizontales_ul_li_a_img:hover {
       /* width: 2rem;
        height: 2rem;
        padding: 0px 5px 0px 0px; */
        margin-top: 0px;
    }

    .cabecera_enlaceshorizontales_ul_li_a_img_p {
        /* display: inline;*/
        display: none;
        border: 1px solid #000000;

    }





    .cabecera_contenido {
        /*

        */
        display: flex;
        justify-content: space-between;
        border: 1px solid #000000;
        background-color: rgba(76, 128, 224, 0.76);
    }

    .cabecera_inputbusqueda {
        margin-left: 20px;
    }

    .cabecera_separadorpanelizq {
        float: left;
        height: 100px;
        width: 3px;
        margin: 5px;
        background-color: rgba(96, 128, 224, 0.96);
    }





}





















/* Estilos para Tablet Second */
@media only screen and (min-width: 620px) {

    /* ******* Inicio: Cuerpo de pagina */

    /*  *** Inicio: Estilos Globales Desktop */
    body {
        background-color: rgba(224, 224, 224, 0.96);
    }

    h1 {
        font-size: 1.4rem;
        padding: 0px 0px 0px 0px;
        font-style: italic;
    }

    h2 {
        padding: 0px 0px 0px 10px;
    }

    h3 {
        color: rgba(0, 0, 255, 0.96)
    }

    /*  *** Fin: Estilos Globales*/

    /*  *** Inicio: Cuerpo de pagina pagina index.html */

    /* Inicio: Cabecera */
    .cabecera {
        background-color: rgba(224, 224, 224, 0.96);        
    }

    .cabecera_enlaceshorizontales {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000000;
    }

    .cabecera_enlaceshorizontales_ul {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px 0px 0px 0px;
    }

    .cabecera_enlaceshorizontales_ul_li {
        display: inline;
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }

    .cabecera_enlaceshorizontales_ul_li_a {
        text-decoration: none;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 0px;
        margin-bottom: 0px;
        font-variant: small-caps;
        font-size: 1rem;
    }

    .cabecera_enlaceshorizontales_ul_li_a:hover {
        color: rgba(0, 128, 255, 0.96);
        font-weight: bold;
    }

    .cabecera_enlaceshorizontales_ul_li_a_img {
        width: 20px;
        height: 20px;
        padding: 0px 5px 0px 0px;
        margin-top: 0px;
    }

    .cabecera_contenido {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000000;
    }

    .cabecera_menuvertical {
        display: flex;
    }

    .cabecera_menuvertical_ul {
        padding: 0px 30px 0px 30px;
    }

    .cabecera_logo {
        width: 96px;
        height: 96px;
        padding: 5px 20px 5px 0px;
    }

    .cabecera_inputbusqueda {
        margin-left: 20px;
    }

    .cabecera_separadorpanelizq {
        float: left;
        height: 70px;
        width: 3px;
        margin: 5px;
        margin-top: 10px;
        background-color: rgba(76, 128, 254, 0.96);
    }

    .panelcuentacarrito {
        justify-content: space-between;
    }

    .panelcuentacarrito_ul {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .panelcuentacarrito_ul_li {
        display: inline;
        padding: 0px 20px 0px 20px;
        margin-bottom: 00px;
        font-size: 14px;
        text-align: center;
    }

    .panelcuentacarrito_ul_li_a {
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 0px;
        margin-bottom: 0px;
        font-variant: small-caps;
        font-size: 1rem;
    }

    .panelcuentacarrito_ul_li_a_img {
        width: 20px;
        height: 20px;
        padding: 0px 5px 0px 0px;
        margin-top: 0px;
    }

    .cabecera_separadorpanelder {
        float: right;
        height: 100px;
        width: 3px;
        margin: 5px;
        background-color: rgb(0, 0, 0);
    }

    .panelcuentacarrito_sucursal {
        padding: 0px 0px 0px 0px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin: 0px;
    }

    .cabecera_modoNoche {
        padding: 20px 20px 0px 0px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin: 0px;
    }

    /* Fin: Cabecera */



    /* Inicio: Contenedor Principal */
    .contenedorprincipal {
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin: 0px;
        border: 1px solid #000000;
    }

    .framedepaginas {
        height: 300px;
        width: auto;
        position: relative;
        border-style: none;
    }

    .contenedorprincipal_slider {
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin: 0px;
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .contenedorprincipal_slider_imgs {
        max-height: 100%;
        width: 320px;
        height: 200px;
    }

    .contenedorprincipal_contenidoprodfrecuente {
        border: 1px solid #000000;
    }

    .ProductosMozaico {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #000000;
    }

    .imgproducto {
        width: 240px;
        height: 240px;

    }

    .btnagregarcarrito {
        text-transform: uppercase;
    }

    .ProductosLista {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #000000;
    }

    /* Fin: Contenedor Principal */


    /* Inicio: Pie de Pagina */
    .piepagina {
        border: 1px solid #000000;
    }

    .flotante_whastapp {
        /* border: 1px solid #000000; */
        display: inline-block;
        border-radius: 100%;
        padding: 0.25rem;
        /* justify-content: end; */
        position: fixed;
        bottom: 5rem;
        right: 2rem;
        background-color: #000000;
    }

    .flotante_whastapp:hover {
        background-color: #00CCCC;
    }

    .imgwhatapps {
        width: 4rem;
        height: 4rem;
    }

    .piepag_contacto {
        border: 1px solid #000000;
    }

    .piepag_infocontacto {
        font-weight: bold;
    }

    .piepag_infocontacto_contacto {
        font-style: italic;
    }

    .img_piedepaginacontacto {
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }

    .piepag_datoscontacto {
        display: inline;
    }

    .Locacion {
        border: 1px solid #000000;
    }

    .ubicacion {
        width: 400px;
        height: 300px;
        display: flex;
    }

    .Suscripcion {
        border: 1px solid #000000;
        padding: 20px 20px 20px 20px;
        display: flex;
        position: relative
    }


    .suscripcionmail {
        padding: 0px 0px 0px 60px;
        display: flex;
    }

    .piepagdatoscom {
        border: 1px solid #000000;
        padding: 20px 20px 20px 20px;
    }

    /* Fin: Pie de Pagina */

    /* ******* Fin: Cuerpo de pagina index.html*/


    /* cuenta.html */

    .contenedorprincipal_iniciosesionregistro {
        border: 1px solid #000000;
        display: flex;
    }

    .iniciosesioncuenta {
        flex: 1;
        padding: 10px;
    }


    /* productos.html */

    .barraorden {
        border: 1px solid #000000;
    }

    .filtroproductos {
        border: 1px solid #000000;
        display: flex;
    }

    .lbl_filtroa {
        flex: 1;
        padding: 10px;
    }

    .ordenarlistap {
        font-size: 1rem;
    }

    /* carrito.html */

    .div_prodinteres {
        display: flex;
    }

    .prodinteres {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }


    /* ayuda.html */

    .contenedorprincipal_ayuda {
        display: flex;
        border: 1px solid #000000;
    }

    .contenedorprincipal_ayuda_aside {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }

    .contenedorprincipal_ayuda_aside_a {
        display: flex;
    }

    .contenedorprincipal_ayuda_iframe {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }

}

/* ********************************************************** Estilos para Desktop Last */
@media only screen and (min-width: 800px) {

    /* ******* Inicio: Cuerpo de pagina */

    /*  *** Inicio: Estilos Globales Desktop */
    body {
        background-color: rgba(224, 224, 224, 0.96);
    }

    h1 {
        font-size: 1.4rem;
        padding: 0px 0px 0px 0px;
        font-style: italic;
    }

    h2 {
        padding: 0px 0px 0px 10px;
    }

    h3 {
        color: rgba(0, 0, 255, 0.96)
    }

    /*  *** Fin: Estilos Globales*/

    /*  *** Inicio: Cuerpo de pagina pagina index.html */

    /* Inicio: Cabecera */
    .cabecera {
        background-color: rgba(224, 224, 224, 0.96);        
    }

    .cabecera_enlaceshorizontales {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000000;
    }

    .cabecera_enlaceshorizontales_ul {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px 0px 0px 0px;
    }

    .cabecera_enlaceshorizontales_ul_li {
        display: inline;
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }

    .cabecera_enlaceshorizontales_ul_li_a {
        text-decoration: none;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 0px;
        margin-bottom: 0px;
        font-variant: small-caps;
        font-size: 1rem;
    }

    .cabecera_enlaceshorizontales_ul_li_a:hover {
        color: rgba(0, 128, 255, 0.96);
        font-weight: bold;
    }

    .cabecera_enlaceshorizontales_ul_li_a_img {
        width: 20px;
        height: 20px;
        padding: 0px 5px 0px 0px;
        margin-top: 0px;
    }

    .cabecera_contenido {
        display: flex;
        justify-content: space-between;
        border: 1px solid #000000;
    }

    .cabecera_menuvertical {
        display: flex;
    }

    .cabecera_menuvertical_ul {
        padding: 0px 30px 0px 30px;
    }

    .cabecera_logo {
        width: 96px;
        height: 96px;
        padding: 5px 20px 5px 0px;
    }

    .cabecera_inputbusqueda {
        margin-left: 20px;
    }

     .cabecera_separadorpanelizq {
        float: left;
        height: 70px;
        width: 3px;
        margin: 5px;
        margin-top: 10px;
        background-color: rgba(76, 128, 254, 0.96);
    }

    .panelcuentacarrito {
        justify-content: space-between;
    }

    .panelcuentacarrito_ul {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .panelcuentacarrito_ul_li {
        display: inline;
        padding: 0px 20px 0px 20px;
        margin-bottom: 00px;
        font-size: 14px;
        text-align: center;
    }

    .panelcuentacarrito_ul_li_a {
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 0px;
        margin-bottom: 0px;
        font-variant: small-caps;
        font-size: 1rem;
    }

    .panelcuentacarrito_ul_li_a_img {
        width: 20px;
        height: 20px;
        padding: 0px 5px 0px 0px;
        margin-top: 0px;
    }

    .cabecera_separadorpanelder {
        float: right;
        height: 100px;
        width: 3px;
        margin: 5px;
        background-color: rgb(0, 0, 0);
    }

    .panelcuentacarrito_sucursal {
        padding: 0px 0px 0px 0px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin: 0px;
    }

    .cabecera_modoNoche {
        padding: 20px 20px 0px 0px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin: 0px;
    }

    /* Fin: Cabecera */



    /* Inicio: Contenedor Principal */
    .contenedorprincipal {
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin: 0px;
        border: 1px solid #000000;
    }

    .framedepaginas {
        height: 300px;
        width: 100%;
        position: relative;
        border-style: none;
    }

    .contenedorprincipal_slider {
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin: 0px;
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .contenedorprincipal_slider_imgs {
        max-height: 100%;
        width: 320px;
        height: 200px;
    }

    .contenedorprincipal_contenidoprodfrecuente {
        border: 1px solid #000000;
    }

    .ProductosMozaico {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #000000;
    }

    .imgproducto {
        width: 240px;
        height: 240px;

    }

    .btnagregarcarrito {
        text-transform: uppercase;
    }

    .ProductosLista {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #000000;
    }

    /* Fin: Contenedor Principal */


    /* Inicio: Pie de Pagina */
    .piepagina {
        border: 1px solid #000000;
    }

    .flotante_whastapp {
        /* border: 1px solid #000000; */
        display: inline-block;
        border-radius: 100%;
        padding: 0.25rem;
        /* justify-content: end; */
        position: fixed;
        bottom: 5rem;
        right: 2rem;
        background-color: #000000;
    }

    .flotante_whastapp:hover {
        background-color: #00CCCC;
    }

    .imgwhatapps {
        width: 4rem;
        height: 4rem;
    }

    .piepag_contacto {
        border: 1px solid #000000;
    }

    .piepag_infocontacto {
        font-weight: bold;
    }

    .piepag_infocontacto_contacto {
        font-style: italic;
    }

    .img_piedepaginacontacto {
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }

    .piepag_datoscontacto {
        display: inline;
    }

    .Locacion {
        border: 1px solid #000000;
    }

    .ubicacion {
        width: 400px;
        height: 300px;
        display: flex;
    }

    .Suscripcion {
        border: 1px solid #000000;
        padding: 20px 20px 20px 20px;
        display: flex;
        position: relative
    }


    .suscripcionmail {
        padding: 0px 0px 0px 60px;
        display: flex;
    }

    .piepagdatoscom {
        border: 1px solid #000000;
        padding: 20px 20px 20px 20px;
    }

    /* Fin: Pie de Pagina */

    /* ******* Fin: Cuerpo de pagina index.html*/


    /* cuenta.html */

    .contenedorprincipal_iniciosesionregistro {
        border: 1px solid #000000;
        display: flex;
    }

    .iniciosesioncuenta {
        flex: 1;
        padding: 10px;
    }


    /* productos.html */

    .barraorden {
        border: 1px solid #000000;
    }

    .filtroproductos {
        border: 1px solid #000000;
        display: flex;
    }

    .lbl_filtroa {
        flex: 1;
        padding: 10px;
    }

    .ordenarlistap {
        font-size: 1rem;
    }

    /* carrito.html */

    .div_prodinteres {
        display: flex;
    }

    .prodinteres {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }


    /* ayuda.html */

    .contenedorprincipal_ayuda {
        display: flex;
        border: 1px solid #000000;
    }

    .contenedorprincipal_ayuda_aside {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }

    .contenedorprincipal_ayuda_aside_a {
        display: flex;
    }

    .contenedorprincipal_ayuda_iframe {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
    }
}